html {
    font-size: 62.5%;
} 

body {
    font-size: 14px;
    font-size: 1.4rem; /* =14px */
} 

h1   {
    font-size: 24px;
    font-size: 2.4rem; /* =24px */
}

/*News Headline Ticker*/
@keyframes ticker {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}

#newsHeadlines{
    width: 100%;
    overflow: hidden;
}

.tickerWrap {
    width: 100%;
    padding-left: 100%;
    background-color: #eee;
}

.tickerAnimation {
    display: inline-block;
    white-space: nowrap;
    animation: ticker 90s infinite linear;
}

.tickerAnimation:hover{
    animation-play-state: paused;
}

.tickerItem{
    display: inline-block;
    padding: 0 3rem;
    font-size: 2rem;
}