@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,800);
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    font-size: 62.5%;
    height: 100vh;
    overflow: hidden;
}

body {
    height: 100%;
    font-size: 14px;
    font-size: 1.4rem;
    margin: 0;
    padding: 0;
    font-family: 'Arimo', sans-serif;
}


.aboutBody {
    background-color: rgb(18, 18, 20);
    overflow: auto;
}

h1 {
    font-size: 24px;
    font-size: 2.4rem;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

/* About Page */

.flexContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: Tahoma, Arial, sans-serif;
    color: white;
}

.title {
    font-size: 5rem;
    margin-top: 7%;
    letter-spacing: 0.0625em;
}

.aboutContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 60%;
    width: 60%;
}

.fa-chevron-circle-down {
    font-size: 7rem;
}

.aboutBody a {
    color: inherit;
}

.fa-home {
    position: relative;
    font-size: 3rem;
    top: 15px;
    left: 15px;
    color: white;
}

.jen,
.johnny,
.michelle {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid transparent;
    width: 33%;
    height: 100%;
    margin: 1% 1%;
}

.profileImgJohnny {
    height: 45%;
    border-radius: 63% 37% 54% 46% / 69% 60% 40% 31%;
}

.profileImgJen {
    height: 45%;
    border-radius: 33% 67% 63% 37% / 36% 54% 46% 64%;
}

.profileImgMichelle {
    height: 45%;
    border-radius: 70% 30% 30% 70% / 40% 29% 71% 60%;
}

.teamName {
    font-size: 2.6rem;
    letter-spacing: 2.6px;
}

.teamText {
    margin-top: 1%;
    width: 100%;
    height: 200px;
    text-align: justify;
    font-weight: 500;
    font-size: 1.2rem;
    font-family: Tahoma, sans-serif;
}

.profileImgJen,
.profileImgJohnny,
.profileImgMichelle {
    --x: 50%;
    --y: 50%;

    position: relative;
    appearance: none;
    color: white;
    cursor: pointer;
    outline: none;

    border: 3px solid transparent;
    background: linear-gradient(#000, #000) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
}

/* News Headline Ticker */
@keyframes ticker {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

#newsHeadlines {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 2;
    background: linear-gradient(to right,rgb(255,228,155),rgb(255, 123, 0));
}

.tickerWrap {
    width: 100%;
    padding-left: 100%;
}

.tickerAnimation {
    display: inline-block;
    white-space: nowrap;
    animation: ticker 180s infinite linear;
}

.tickerAnimation:hover {
    animation-play-state: paused;
}

.tickerItem {
    display: inline-block;
    padding: 0.5rem 3rem;
    font-size: 2rem;
    font-weight: 900;
    color: black;
}

/* Weather */
.weatherWidgetContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    height: 6rem;
    width: 100%;
    background: linear-gradient(rgba(255,228,155, 0.2),
    rgba(255, 123, 0, 0.9), rgba(0,0,60,0.85));
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-weight: 600;
    color: white;
    padding: 2%;
    border-radius: 0px 0px 10px 10px;
}

.weatherCity, .weatherTemp {
    width: 40%;
    text-shadow: 2px 2px rgb(105,105,105);
}

.weatherIcon {
    width: 20%;
}

#widgetCity {
    text-transform: uppercase;
}

#widgetTempDesc {
    text-transform: capitalize;
}

/* Map */
.loading {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    z-index: -1;
    color: white;
    font-size: 3em;
}

.mapContainer {
    position: relative;
    height: 100vh;
    width: 100%;
}

#map {
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
}

.geocoder {
    position:absolute;
    z-index:1;
    width:50%;
    left:50%;
    margin-left:-25%;
    top:20px;
}

.marker {
    width: 30px;
    height: 30px;
    display: block;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

/* Modal */
.eventInfoContainer {
    border-radius: 10px 10px 0 0;
    padding-bottom: 4%;
    background: linear-gradient(rgba(155, 198, 255, .3),
    rgba(0, 255, 242, 0.1), rgba(255,228,155, 0.1));
}

.modal a.close-modal {
    background-image: none;
}

.modal {
    padding: 0;
    margin: 0;
    color: #444;
}

#introModal {
    max-width: 1000px;
    width: 90%;
}

#introModal .carousel-item img {
    width: 100%;
}

#mapModal {
    text-align: center;
    background-color: white;
    border: 2px solid black;
    margin-bottom: 3%;
    padding: 20px;
}

.modalcenter {
    position: absolute;
    right: 5px;
    top: 0;
}

.blocker {
    z-index: 2;
}

.organization {
    font-size: 2.5rem;
    padding-top: 2%;
    font-weight: bold;
    text-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.fa-arrow-down {
    font-size: 2rem;
    margin: 1% 0;
}

.website {
	z-index: 1;
    display: inline-flex;
    margin: 0 10px 5px;
    padding: 5px 10px;
    color: rgb(0, 0, 0);
    background-color: rgb(254, 211, 48);
    font-weight: 700;
	text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;

}

.website:hover {
    color: rgb(255, 255, 255);
}

/* Nav Bar */
main {
    z-index: 2;
    position: relative;
    height: 100%;
    background-color: rgb(45, 49, 66);
    -webkit-transition: transform .7s ease-in-out;
    -moz-transition: transform .7s ease-in-out;
    -ms-transition: transform .7s ease-in-out;
    -o-transition: transform .7s ease-in-out;
    transition: transform .7s ease-in-out;
}

.sidebar {
    height: 100%;
    width: 25%;
    position: fixed;
    top: 0;
    z-index: 1;
    left: 0;
    background:
        linear-gradient(rgba(255,228,155, 0.1),
        rgba(255, 123, 0, 0.7), rgba(0,0,60,0.95)),
        url(images/palmtrees.jpeg);
    font-family: "Open Sans", Tahoma, sans-serif;
    font-weight: 600;
    text-align: justify;
    text-justify: inter-word;
    padding: 0 10px;
    background-color: rgb(68, 97, 129);
    background-size: cover;
    overflow-y: auto;
}

.bar {
    display: block;
    height: 5px;
    width: 50px;
    background-color: white;
    margin: 10px auto;
    box-shadow: 2px 3px 8px rgb(92, 117, 145, .5);
}

.button {
    cursor: pointer;
    display: inline-block;
    width: auto;
    margin: 0 auto;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.nav-left {
    position: absolute;
    left: 18px;
    top: 12px;
}

.nav-left.visible-xs {
    z-index: 3;
    display: none;
}

.hidden-xs {
    display: block;
}

.middle {
    margin: 0 auto;
}

.bar {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.nav-left.visible-xs .active .bar {
    background-color: #FFF;
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.button.active .top {
    -webkit-transform: translateY(15px) rotateZ(45deg);
    -moz-transform: translateY(15px) rotateZ(45deg);
    -ms-transform: translateY(15px) rotateZ(45deg);
    -o-transform: translateY(15px) rotateZ(45deg);
    transform: translateY(15px) rotateZ(45deg);
}

.button.active .bottom {
    -webkit-transform: translateY(-15px) rotateZ(-45deg);
    -moz-transform: translateY(-15px) rotateZ(-45deg);
    -ms-transform: translateY(-15px) rotateZ(-45deg);
    -o-transform: translateY(-15px) rotateZ(-45deg);
    transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
    width: 0;
}

.move-to-right {
    -webkit-transform: translateX(25%);
    -moz-transform: translateX(25%);
    -ms-transform: translateX(25%);
    -o-transform: translateX(25%);
    transform: translateX(25%);
}

.sidebar-list {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    margin-top: 15%;
    text-align: center;
}

.sidebar-item {
    margin: 30px 0;
    opacity: 0;
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
    transform: translateY(-20px);
}

.sidebar-item:first-child {
    -webkit-transition: all .7s .2s ease-in-out;
    -moz-transition: all .7s .2s ease-in-out;
    -ms-transition: all .7s .2s ease-in-out;
    -o-transition: all .7s .2s ease-in-out;
    transition: all .7s .2s ease-in-out;
}

.sidebar-item.active {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
}

.sidebar-anchor {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 1.8em;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 7px;
}


.sidebarContainer {
    background-color: rgba(163, 155, 162, 0.3);
    padding: 3% 1%;
    border-radius: 10px;
}

.sidebarText {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 2em;
    text-transform: none;
    position: relative;
    padding: 10px 20px;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.sidebarText h1 {
    font-size: 3.7rem;
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.sidebar a {
    text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4),
        0px 8px 13px rgba(0, 0, 0, 0.1),
        0px 18px 23px rgba(0, 0, 0, 0.1);
}

.sidebar a:hover {
    color: rgb(250, 208, 48);
}

.link{
	color: rgb(255, 255, 255);
	font-weight: 700;
	text-decoration: none;
	text-transform: uppercase;
	position: relative;
	z-index: 1;
	display: inline-flex;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-right: 10px;
}

.link::before{
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(to top, #fed330 25%, rgba(0, 0, 0, 0) 40%);

	position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;

	will-change: width;
	transform: rotate(-2deg);
	transform-origin: left bottom
}

.link:hover::before{
	width: 0;
}

.link::before{
	transition: width .1s ease-out;
}

.link:hover::before{
	transition-duration: .15s;
}

/*animations*/

.bounce-in-top {
    -webkit-animation: bounce-in-top 1.1s both;
    animation: bounce-in-top 1.1s both;
}

.pulsate-fwd {
    -webkit-animation: pulsate-fwd 1.5s ease-in-out infinite both;
    animation: pulsate-fwd 1.5s ease-in-out infinite both;
}

@-webkit-keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes bounce-in-top {
    0% {
        -webkit-transform: translateY(-500px);
        transform: translateY(-500px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
        opacity: 0;
    }

    38% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
        opacity: 1;
    }

    55% {
        -webkit-transform: translateY(-65px);
        transform: translateY(-65px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    72% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    81% {
        -webkit-transform: translateY(-28px);
        transform: translateY(-28px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    90% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    95% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@-webkit-keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes pulsate-fwd {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/* timeline */
.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
    font-family: Tahoma;
}

.timeline:before {
    top: 0;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: rgb(238, 238, 238);
    left: 50%;
    margin-left: -1.5px;
}

.timeline>li {
    margin-bottom: 20px;
    position: relative;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li>.timeline-panel {
    width: 46%;
    float: left;
    border: 1px solid rgb(212, 212, 212);
    border-radius: 2px;
    padding: 20px;
    position: relative;
    -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
    background-color: rgb(255, 255, 255);
}

.timeline>li>.timeline-panel:before {
    position: absolute;
    top: 26px;
    right: -15px;
    display: inline-block;
    border-top: 15px solid transparent;
    border-left: 15px solid rgb(204, 204, 204);
    border-right: 0 solid rgb(204, 204, 204);
    border-bottom: 15px solid transparent;
    content: " ";
}

.timeline>li>.timeline-panel:after {
    position: absolute;
    top: 27px;
    right: -14px;
    display: inline-block;
    border-top: 14px solid transparent;
    border-left: 14px solid rgb(255, 255, 255);
    border-right: 0 solid rgb(255, 255, 255);
    border-bottom: 14px solid transparent;
    content: " ";
}

.timeline>li>.timeline-badge {
    color: rgb(255, 255, 255);
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
    text-align: center;
    position: absolute;
    top: 16px;
    left: 50%;
    margin-left: -25px;
    background-color: rgb(153, 153, 153);
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    border-left-width: 0;
    border-right-width: 15px;
    left: -15px;
    right: auto;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    border-left-width: 0;
    border-right-width: 14px;
    left: -14px;
    right: auto;
}

.timeline-badge.primary {
    background-color: rgb(46, 109, 164) !important;
}

.timeline-badge.success {
    background-color: rgb(63, 144, 63) !important;
}

.timeline-badge.warning {
    background-color: rgb(240, 173, 78) !important;
}

.timeline-badge.danger {
    background-color: rgb(217, 83, 79) !important;
}

.timeline-badge.info {
    background-color: rgb(91, 192, 222) !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
    font-weight: bold;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 5%;
}

.timeline-body > p+p {
    margin-top: 5px;
}

/*media queries*/
@media (max-width: 1200px) {
  .sidebarText h1 {
      font-size: 1.5em;
  }

  .sidebarContainer p {
      font-size: 1.3em;
  }
}

@media (max-width: 1024px) {
    .sidebar-anchor {
        font-size: 1.5em
    }
}

@media (max-width: 768px) {
    .sidebar {
        width: 40%;
    }

    .move-to-right {
        -webkit-transform: translateX(40%);
        -moz-transform: translateX(40%);
        -ms-transform: translateX(40%);
        -o-transform: translateX(40%);
        transform: translateX(40%);
    }

    .sidebarText h1 {
        font-size: 1.4em;
    }
}

@media (max-width: 500px) {
    .sidebar {
        width: 75%;
    }

    .move-to-right {
        -webkit-transform: translateX(75%);
        -moz-transform: translateX(75%);
        -ms-transform: translateX(75%);
        -o-transform: translateX(75%);
        transform: translateX(75%);
    }

    .nav-list {
        display: block;
    }

    .sidebarContainer p {
        font-size: 1.3em;
    }

    .organization {
        font-size: 2rem;
    }

    .weatherWidgetContainer {
        font-size: 1.2rem;
    }

    .weatherIcon img {
        height: 50px;
        width: 50px;
    }
}
